---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import List from '@components/list.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');

---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Learning</Fragment>
      <Fragment slot="desc"
        >We write about building startups and thoughts going on our mind.</Fragment
      >
    </Sectionhead>
    <main class="mt-16">
      <List items={blogEntries} />
    </main>
  </Container>
</Layout>
