---
import { useSanityClient, groq } from "astro-sanity";
import imageUrlBuilder from '@sanity/image-url'
import ProductGrid5 from '@uikits/tuik/product-grid-5.astro'
import Card from '@uikits/tailwindcss/card-stacked.astro'
import Layout from "@layouts/Layout.astro";
const builder = imageUrlBuilder(useSanityClient())
function urlFor(source) {
  return builder.image(source)
}

export async function getFirstBlogPost() {
  const query = groq`*[_type == "brand"]{title, slug, description, mainImage, tags[]->}`;
  const firstPost = await useSanityClient().fetch(query);
  return firstPost;
}

export async function getStaticPaths() {
  let brands = await getFirstBlogPost();
  const paths = brands.map(brand => ({
    params: { slug: brand.slug.current}, props: { brand },
  }));
  return paths
}
// 2. When its time to render, you can get the entry directly from the prop
const { brand } = Astro.props;

---

<Layout title="Resources">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Resources</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {brands.map(brand=>
          <div class=""><Card data={{name: brand.title, href: `resources/${brand?.slug?.current}`, decription: brand.description,tags:brand?.tags?.map(t=>t.title), image: {src: urlFor(brand?.mainImage)}}}/></div>
        )}
      </div>
    </main>
  </Container>
</Layout>

