---
import { useSanityClient, groq } from "astro-sanity";
import imageUrlBuilder from '@sanity/image-url'
import ProductGrid5 from '@uikits/tuik/product-grid-5.astro'
import Card from '@uikits/tailwindcss/card-stacked.astro'
const builder = imageUrlBuilder(useSanityClient())
function urlFor(source) {
  return builder.image(source)
}

export async function getFirstBlogPost() {
  const query = groq`*[_type == "brand"]{title, description, mainImage, tags[]->}`;
  const firstPost = await useSanityClient().fetch(query);
  return firstPost;
}

let brands = await getFirstBlogPost();

export async function getStaticPaths() {
  return brands.map(brand => ({
    params: { slug: brand.slug }, props: { brand },
  }));
}
// 2. When its time to render, you can get the entry directly from the prop
const { brand } = Astro.props;
const { Content } = await entry.render();

console.log('1*******************************')
---

<h1>{entry.data.title}</h1>
<Content />