---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { useSanityClient, groq } from "astro-sanity";
import imageUrlBuilder from '@sanity/image-url'
import Card from '@uikits/tailwindcss/card-stacked.astro'
const builder = imageUrlBuilder(useSanityClient())
function urlFor(source) {
  return builder.image(source)
}

let brands = await useSanityClient().fetch(groq`*[_type == "brand"]{title, slug, description, mainImage, tags[]->}`)
---

<Layout title="Resources">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Resources</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {brands.map(brand=>
          <div class=""><Card data={{name: brand.title, href: `/resources/${brand.slug.current}`, description: brand.description,tags:brand?.tags?.map(t=>t.title), image: {src: urlFor(brand?.mainImage)}}}/></div>
        )}
      </div>
    </main>
  </Container>
</Layout>
