---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Services",
    path: "#",
    children: [
      {
        title: "Automation",
        path: "#"
      },
      {
        title: "Marketing",
        path: "#"
      },
      {
        title: "Content",
        path: "#"
      }            
    ]
  },
  {
    title: "Resources",
    path: "/resources",
  },  
  {
    title: "News",
    path: "/news",
  },      
  {
    title: "Gallery",
    path: "/gallery",
  },    
  {
    title: "Learning",
    path: "/blog",
  },
  {
    title: "About",
    path: "/about",
  },
];
---

<Container>
  <header class="flex flex-col items-center justify-between my-5 lg:flex-row">
    <Astronav>
      <div class="flex items-center justify-between w-full lg:w-auto">
        <a href="/" >
          <span><img class="w-14" src="/logo.png" /></span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full mt-2 lg:w-auto lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex py-2 text-gray-600 lg:px-3 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="flex items-center gap-4 mt-3 lg:hidden">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="items-center hidden gap-4 lg:flex">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div>
  </header>
</Container>
