---
import Container from "@components/container.astro";
---

<Container>
<footer class="mx-auto flex flex-row my-20 flex space=x-4 justify-bweteen text-slate-500">
  <div class="flex-1 w-5/6 mx-auto">
    <p class="text-sm text-center ">
      Copyright © {new Date().getFullYear()} Ai Wrangler. All rights reserved. 
  </p>
  </div>
  <div class="flex flex-row pr-10 space-x-4">
    <a href="/terms.html">Terms</a> 
    <a href="/policy.html">Policy</a>
  </div>  
</footer>
</Container>