---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ResourcePanel from './ResourcePanel.astro'

const {brands, baseurl, more} = Astro.props
---

<Container>
  <Sectionhead>
    <Fragment slot="title">Resources</Fragment>
    <Fragment slot="desc">
      Best resources for AI from around the world.
    </Fragment>
  </Sectionhead>
  <main class="mt-16 flex">
    <ResourcePanel {brands} {baseurl} />
    { more &&
      <div class="flex justify-end px-6 py-6">
        <a href={more} class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">more...</a>
      </div>
    }
  </main>
</Container>
