---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Card from '@ui/tailwindcss/card-stacked.astro'
import {urlForImage} from '@utils/urlForImage'

const {brands, more} = Astro.props

---

<Container>
  <Sectionhead>
    <Fragment slot="title">Resources</Fragment>
    <Fragment slot="desc">
      Best resources for AI from around the world.
    </Fragment>
  </Sectionhead>
  <main class="mt-16">
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      {brands.map(brand=>
        <div class="">
          <Card data={{title: brand.title, href: `/resources/${brand.slug.current}`, subtitle: brand.description, tags:brand?.tags?.map(t=>t.title), image: {src: brand.mainImage?urlForImage(brand.mainImage):''}}}/>
        </div>
      )}
    </div>
    { more &&
      <div class="flex justify-end px-6 py-6">
        <a href={more} class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">more...</a>
      </div>
    }
  </main>
</Container>
